.headerContainer {
    position: fixed;
    z-index: 6;
    background-color: rgb(20, 29, 47);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 100px;
    padding-left: 100px;
    padding-right: 100px;
    box-sizing: border-box;
}

.nameContainer {
    display: flex;
    height: 35px;
    cursor: pointer;

    p {
        color: white;
        font-size: 39px;
    }

    span {
        color: white;
        font-size: 39px;
    }
}



.half-color {
    margin: 0;
    background: linear-gradient(to left, white 50%, #70E61C 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    // @media (min-width: 400px) {
    //     font-size: 42px;
    // }

    // @media (min-width: 500px) {
    //     font-size: 46px;
    // }

    // @media (min-width: 700px) {
    //     font-size: 48px;
    // }
}

.length-color {
    margin: 0;
    background: linear-gradient(to top, white 30%, rgb(152, 71, 255) 70%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    // @media (min-width: 400px) {
    //     font-size: 42px;
    // }

    // @media (min-width: 500px) {
    //     font-size: 46px;
    // }

    // @media (min-width: 700px) {
    //     font-size: 48px;
    // }
}

.navbarLink {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 29px;


    a {
        color: white;
        position: relative;
        font-weight: 400;
        font-size: 23px;
        text-decoration: none;
        cursor: pointer;

        &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: rgba(151, 71, 255, 1);
            bottom: 0px;
            left: 0;
            transform: scaleX(0);
            transform-origin: left center;
            transition: transform 0.3s ease-in-out;
        }

        &:hover {
            color: #70E61C;

            &::before {
                transform: scaleX(1);
            }
        }

    }

    b {
        color: white;
        font-size: 23px;
        padding-left: 5px;
        padding-right: 5px;
    }

    @media (max-width:850px) {
        display: none;
    }
}

.hamburgerIcon {
    display: none;

    @media(max-width: 850px) {
        display: flex;
    }
}



.ham {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.hamRotate.active {
    transform: rotate(45deg);
}

.hamRotate180.active {
    transform: rotate(180deg);
}

.line {
    fill: none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke: #70E61C;
    stroke-width: 5.5;
    stroke-linecap: round;
}

.ham3 .top {
    stroke-dasharray: 40 130;
}

.ham3 .middle {
    stroke-dasharray: 40 140;
}

.ham3 .bottom {
    stroke-dasharray: 40 205;
}

.ham3.active .top {
    stroke-dasharray: 75 130;
    stroke-dashoffset: -63px;
}

.ham3.active .middle {
    stroke-dashoffset: -102px;
}

.ham3.active .bottom {
    stroke-dasharray: 110 205;
    stroke-dashoffset: -86px;
}


.navbarBurgerLink {
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    left: 0;
    top: 0;
    gap: 39px;
    font-size: 30px;
    background-color: rgba(20, 21, 45, 0.8);
    width: 100vw;
    height: 100vh;
    opacity: 1;

    a {
        color: white;
        position: relative;
        font-weight: 400;
        font-size: 30px;
        text-decoration: none;
        cursor: pointer;

        &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: rgba(151, 71, 255, 1);
            bottom: 0px;
            left: 0;
            transform: scaleX(0);
            transform-origin: left center;
            transition: transform 0.3s ease-in-out;
        }

        &:hover {
            color: #70E61C;

            &::before {
                transform: scaleX(1);
            }
        }


    }

    b {
        color: white;
        font-size: 33px;
        padding-left: 5px;
        padding-right: 5px;
    }
}

@media (max-width: 450px) {
    .headerContainer {
        width: 100%;
        padding-left: 50px;
        padding-right: 20px;
    }
}