<div class="headerContainer">
    <div class="nameContainer">
        <span class="name">Da</span>
        <p class="half-color">n</p>
        <span class="name">ie</span>
        <p class="dot-color">l</p>
    </div>
    <div class="navbar">
        <a href="#aboutMe">About me</a>
        <a href="#skills">Skills</a>
        <a href="#portfolio">Portfolio</a>
        <a href="#contact">Contact</a>
        <div class="language">
            <a>DE</a>
            |
            <a>EN</a>
        </div>
    </div>
</div>