<div class="footerContainer">
    <div class="footer">
        <div class="headline">
            <div class="nameContainer" (click)="toTop()">
                <span class="name">Da</span>
                <p class="half-color">n</p>
                <span class="name">ie</span>
                <p class="length-color">l</p>
            </div>
            <div class="imprint">Imprint</div>
        </div>
        <div class="copyRightContainer">
            <span>@ Daniel Schirmer 2023</span>
        </div>
        <div class="linkIcons">
            <div class="contactLinks">
                <a class="contactLink" href="https://github.com/Daniel-Schi">
                    <img src="/assets/img/icons/Github button.png"></a>
                <a class="contactLink" href="kontakt@daniel-schirmer.de">
                    <img src="/assets/img/icons/Email button.png"></a>
                <a class="contactLink" href="https://www.linkedin.com/feed/">
                    <img src="/assets/img/icons/Linkedin button.png"></a>
            </div>
        </div>
    </div>
</div>