.footerContainer {
    width: 100vw;
    position: relative;
    margin-top: 125px;
    height: 291px;
    background-color: #141D2F;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 4px solid #70E61C;

    @media(max-width: 900px) {
        margin-top: 0;
    }
}


.footer {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
    height: 40px;
    margin-left: 100px;
    margin-right: 100px;
   

    @media(max-width: 900px) {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }

    @media(max-width: 450px) {
        margin-left: 40px;
        margin-right: 40px;
    }
}

.headline {
    display: flex;
    flex-direction: column;
    gap: 5px;

    .imprint {
        display: flex;
        gap: 5px;
        width: 210px;
        height: 32px;
        font-size: 18px;
        font-weight: 400;
        color: white;
    
        @media(max-width: 900px) {
            display: none;
        }
    
        a{
            text-decoration:  none;
            color: white;
            position: relative;
    
            &::before {
                content: "";
                position: absolute;
                width: 100%;
                height: 2px;
                background-color: rgba(151, 71, 255, 1);
                bottom: 0px;
                left: 0;
                transform: scaleX(0);
                transform-origin: left center;
                transition: transform 0.3s ease-in-out;
            }
        
            &:hover {
                color: #70E61C;
        
                &::before {
                    transform: scaleX(1);
                }
            }
        }
    }
}

.nameContainer {
    display: flex;
    cursor: pointer;

    p {
        color: white;
        font-size: 39px;
    }

    span {
        color: white;
        font-size: 39px;
    }
}

.half-color {
    margin: 0;
    background: linear-gradient(to left, white 50%, #70E61C 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.length-color {
    margin: 0;
    background: linear-gradient(to top, white 30%, rgb(152, 71, 255) 70%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



.copyRightContainer {
    font-size: 23px;
    font-weight: 400;
    color: white;
}

.contactLinks {
    display: flex;
    gap: 42px;
   
    img {
        width: 30px;
        height: 30px;
        cursor: pointer;

        &:hover {
            scale: 1.2;
        }
    }
}

.imprintResponsive{
    display: none;

    @media(max-width: 900px) {
        display: flex;
        justify-content: center;
        top: 240px;
        font-size: 16px;

        a{
            text-decoration:  none;
            color: white;
    
            &::before {
                content: "";
                position: absolute;
                width: 7%;
                height: 2px;
                background-color: rgba(151, 71, 255, 1);
                bottom: 20px;
                // left: 0;
                transform: scaleX(0);
                transform-origin: left center;
                transition: transform 0.3s ease-in-out;
            }
        
            &:hover {
                color: #70E61C;
        
                &::before {
                    transform: scaleX(1);
                }
            }
        }
    }
}