<div class="aboutMeContainer">
    <div class="background-element"><img src="/assets/img/background/Purple shadow 2.png"></div>
    <div class="aboutMeDescription">
        <h2>About me</h2>
        <p>Hey i´m Daniel, a frontend developer from the middle of Germany, Hessen. </p>
        <div class="aboutMeContent">
            <div class="aboutMeContentInfo">
                <div> <img src="/assets/img/icons/lightbulb.png" alt=""></div>
                <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem sunt, sapiente unde cum,
                    labore suscipit expedita assumenda animi natus beatae aspernatur et aliquam nisi corrupti neque
                    odio,
                    architecto facilis? Quibusdam.</span>
            </div>
            <div class="aboutMeContentInfo">
                <div> <img src="/assets/img/icons/puzzle.png" alt=""></div>
                <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque pariatur nesciunt dolorum
                    expedita
                    libero nemo cum dicta accusamus necessitatibus perspiciatis. Rerum atque quis ipsum mollitia et,
                    debitis
                    ipsa error illo.</span>
            </div>
        </div>
    </div>
    <div class="aboutMeImage">
        <div class="aboutMeLine"></div>
        <img src="/assets/img/picture/me1.png" alt="">
    </div>
</div>