<div class="contactContainer">
    <div class="backgroundimg"><img src="/assets/img/background/purple-shadow-footer.png"></div>
    <div class="contactHeadline">
        <div class="contactLineLeft"></div>
        <h1 class="headline">{{ 'Contact' | translate }}</h1>
    </div>
    <div class="contactContentContainer">
        <div class="contactContent" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500">
            <h3>Got a problem to solve?</h3>
            <span>Contact me through this from, I am interested in hearing you, knowing your ideas and contributing to
                your probjects with my work.</span>
            <span>Need a Frontend developer?
                <span class="contactMe"> Contact me!</span>
            </span>
        </div>
        <form class="formContainer">
            <div class="contactForm">
                <input type="text" placeholder="Your Name">
                <div class="requiredInfo">
                    <span>Your name is required</span>
                    <span>The minimum length of 3 letters has not been reached</span>
                </div>
                <div class="errorImage">
                    <img src="/assets/img/icons/error.png" alt="Error Icon">
                </div>
                <div class="confirmImage">
                    <img src="/assets/img/icons/confirm.png" alt="Error Icon">
                </div>
            </div>
            <div class="contactForm">
                <input type="text" placeholder="Your email">
                <div class="requiredInfo">
                    <span>Your email is required</span>
                    <span>The minimum length of 3 letters has not been reached</span>
                </div>
                <div class="errorImage">
                    <img src="/assets/img/icons/error.png" alt="Error Icon">
                </div>
                <div class="confirmImage">
                    <img src="/assets/img/icons/confirm.png" alt="Error Icon">
                </div>
            </div>
            <div class="contactForm">
                <textarea type="text" placeholder="Your message"></textarea>
                <div class="requiredInfo">
                    <span>Your email is required</span>
                    <span>The minimum length of 3 letters has not been reached</span>
                </div>
                <div class="errorImage">
                    <img src="/assets/img/icons/error.png" alt="Error Icon">
                </div>
                <div class="confirmImage">
                    <img src="/assets/img/icons/confirm.png" alt="Error Icon">
                </div>
            </div>
            <div class="sendMessage">
                <div>
                    <span></span>
                </div>
                <button>Send message :)</button>
            </div>
        </form>
    </div>
    <div class="goUpBtn">
        <a routerLink="/"><img src="/assets/img/icons/goUpBtn.png" alt="ArrowUp Icon"></a>
    </div>
</div>