<div class="portfolioContainer">
    <div class="portfolioHeadline">
        <div class="headlineLineLeft"></div>
        <h2>Portfolio</h2>
        <div class="headlineLineRight"></div>
    </div>
    <div class="sampleWork">
        <span>This page is a sample work - please feel free to try them out.</span>
    </div>
    <div class="projectContainer">
        <div class="backgroundElementLeft"><img src="/assets/img/background/Purple shadow 3.png"></div>
        <div class="backgroundElementRight"><img src="/assets/img/background/Green shadow 2.png"></div>
        <div *ngFor="let project of projects; let i = index">
            <div [ngStyle]="{'flex-direction': i % 2 !== 0 ? 'row-reverse' : 'row'}"
                [attr.data-aos]="i % 2 !== 0 ? 'fade-left' : 'fade-right'" class="imgContainer">
                <div class="images"><img
                        src="assets/img/picture/{{ project.image }}"></div>
                <div class="projectContent" [ngStyle]="{'text-align': i % 2 !== 0 ? 'end' : 'start'}">
                    <span class="projectName">{{ project.name }}</span>
                    <span class="projectLanguages">{{ project.language }}</span>
                    <!-- <span class="projectDescription">{{ project.translations}}</span> -->
                </div>
            </div>
        </div>
    </div>
</div>