<div class="portfolioContainer">
    <div class="headlineBox">
        <div class="portfolioHeadline">
            <div class="headlineLineLeft"></div>
            <h2>Portfolio</h2>
            <div class="headlineLineRight"></div>
        </div>
        <div class="sampleWork">
            <span>{{ 'sampleWork' | translate }}</span>
        </div>
    </div>
    <div class="projectContainer">
        <div class="backgroundElementLeft"><img src="/assets/img/background/Purple shadow 3.png"></div>
        <div class="backgroundElementRight"><img src="/assets/img/background/green-shadow-big.png"></div>
        <div *ngFor="let project of projects; let i = index">
            <div [ngStyle]="{'flex-direction': i % 2 !== 0 ? 'row-reverse' : 'row'}"
                [attr.data-aos]="i % 2 !== 0 ? 'fade-left' : 'fade-right'" class="imgContainer">
                <div class="images"><img src="assets/img/picture/{{ project.image }}"></div>
                <div class="projectContent" [ngStyle]="{'text-align': i % 2 !== 0 ? 'end' : 'start'}">
                    <span class="projectName">{{ project.name }}</span>
                    <span class="projectLanguages">{{ project.language }}</span>
                    <span class="projectDescription">{{ getProjectDescription(project) }}</span>
                    <div class="btnContainer" [ngStyle]="{'justify-content': i % 2 !== 0 ? 'flex-end' : 'flex-start'}">
                        <a class="live" target="_blank" href="#">Live test</a>
                        <a class="github" target="_blank" href="{{ project.github }}">Github</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>