.portfolioContainer {
    position: relative;
    width: 100vw;
}

.portfolioHeadline {
    position: absolute;
    top: -300px;
    right: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 50px;

    h2 {
        color: white;
        font-size: 90px;
        font-weight: 700;
        align-items: center;
    }

    .headlineLineLeft {
        width: 109px;
        border: 2px solid #9747FF;
    }

    .headlineLineRight {
        width: 484px;
        border: 2px solid #9747FF;

    }
}

.sampleWork {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 733px;
    right: 353px;
    color: white;
    top: -80px;
}

.backgroundElementLeft {
    position: absolute;
    top: 150px;
    left: 0;
    overflow: hidden;
    display: flex;
    opacity: 0.5;
}

.backgroundElementRight {
    position: absolute;
    bottom: 0px;
    overflow: hidden;
    display: flex;
    z-index: -1;
    right: -90px;
    height: 951px;
    width: 429px;
    opacity: 0.8;


    img {
        position: absolute;
        rotate: 180deg;
    }
}

.projectContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 100px;
    // overflow: hidden;

    .imgContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 35px;
        margin: 0 100px;
    }

    .images {
        height: 450px;
        width: 550px;
        display: flex;
        align-items: center;
        justify-content: center !important;
        z-index: 1;

        img {
            width: 400px;
            height: 370px;
            object-fit: cover;
        }
    }

    .projectContent {
        display: flex;
        flex-direction: column;
        gap: 35px;
        width: 500px;

        .projectName {
            color: #9747FF;
            font-size: 32px;
            font-weight: 700;
        }

        .projectLanguages {
            font-size: 23px;
            color: #70E61C;
        }

        .projectDescription {
            color: white;
        }

        .btnContainer {
            display: flex;
            gap: 86px;
            font-size: 23px;
            font-weight: 400;
           

            .live {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 152px;
                height: 58px;
                background-color: #9747FF;
                color: white;
                border-radius: 10px;
                cursor: pointer;
                text-decoration: none;

                &:hover{
                    background-color: #70E61C;
                }

            }

            .github {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 152px;
                height: 58px;
                border-radius: 10px;
                border: 1px solid #70E61C;
                color: white;
                padding: 15px, 30px;
                gap: 10px;
                text-decoration: none;

                &:hover{
                    background-color: #70E61C;
                }
            }


        }
    }


}