.myskillsContainer {
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 200px;

    @media (max-width: 1136px) {
        margin-bottom: 300px;
    }

    @media (max-width: 950px) {
        flex-direction: column-reverse;
    }

    @media (max-width: 900px) {
        margin-top: -300px;
    }

    @media (max-width: 800px) {
        margin-top: -200px;
    }

    @media (max-width: 650px) {
        margin-top: -100px;
    }
    @media (max-width: 550px) {
        margin-top: 0px;
    }

    @media (max-width: 530px) {
        margin-top: 100px;
    }
    @media (max-width: 450px) {
        margin-bottom: 100px;
    }
}

.backgroundImg {
    display: flex;
    position: absolute;
    left: -250px;

    @media(max-width: 450px) {
        left: -50px;
        margin-top: 220px;
        img{
            width: 60%;
            
        }
    }
}

.skillIconsContainer {
    display: flex;
    width: 731px;
    margin-left: 100px;
    gap: 100px;

    @media(max-width: 950px) {
        width: 100%;
    }

    @media (max-width: 650px) {
        width: auto;
    }
    @media (max-width: 600px) {
        margin-left: 50px;
        gap: 50px;
    }
}

.skillIcons {
    height: 414px;
    gap: 100px;
    color: white;
    display: flex;
    flex-wrap: wrap;

    @media (max-width: 1400px) {
        width: 80%;
        margin-right: 0;
        gap: 60px;
    }

    @media (max-width: 950px) {
        justify-content: center;
        margin-right: 120px;
    }

    @media (max-width: 650px) {
        width: 90%;
        margin-right: 0;
        gap: 30px;
    }
    @media (max-width: 450px) {
        width: 90%;
        margin-right: 0;
        gap: 17px;
    }

  

    // @media (max-width:581px) {
    //     right: 50px;
    //     gap: 35px;
    // }

    // @media (max-width:450px) {
    //     left: 25px;
    //     right: 25px;
    //     gap: 25px;
    // }


    img {
        width: 68px;
        height: 60px;
        padding-bottom: 10px;

        &:hover {
            animation: jumpIcon 00.3s ease normal forwards;
        }

        @media (max-width: 625px) {
            width: 62px;
            height: 55px;
            gap: 10px;
        }

        @media (max-width: 500px) {
            width: 50px;
            height: 50px;
            padding-bottom: 0;
         
        }
    }

    @keyframes jumpIcon {
        0% {
            animation-timing-function: ease-in;
            transform: translateY(-12px);
        }

        40% {
            animation-timing-function: ease-in;
            transform: translateY(-8px);
        }

        60% {
            animation-timing-function: ease-in;
            transform: translateY(-5px);
        }

        80% {
            animation-timing-function: ease-in;
            transform: translateY(-2px);
        }

        100% {
            animation-timing-function: ease-out;
            transform: translateY(0px);
        }
    }

    div {
        width: 100px;
        justify-content: center;
        align-items: center;
        text-align: center;

        @media (max-width: 625px) {
            width: 90px;
        }

        @media (max-width: 500px) {
            width: 80px;
        }
    }

    span {
        font-weight: 700;

        @media (max-width: 625px) {
            font-size: 19px;
        }

        @media (max-width: 450px) {
            font-size: 14px;
        }
    }
}

.textContainer {
    color: white;
    width: 571px;
    display: flex;
    flex-direction: column;
    margin-right: 100px;
    text-align: end;
    gap: 30px;

    @media (max-width: 1050px) {
        width: auto;
        margin-left: 25px;
    }

    @media (max-width: 950px) {
        margin-left: 35%;
    }

    @media (max-width: 746px) {
        width: 86%;
        margin-left: 20px;
    }
    @media (max-width: 650px) {
        width: 82%;
        margin-left: 30px;
    }
   


    h2 {
        display: flex;
        justify-content: flex-end;
        font-size: 90px;
        font-weight: 700;

        @media (max-width: 550px) {
            font-size: 55px;
        }

        @media (max-width: 400px) {
            font-size: 45px;
        }
    }

    span {
        font-size: 20px;
        font-weight: 400;

        @media (max-width:550px) {
            margin-left: 15px;
            font-size: 18px;
        }

        @media (max-width:400px) {
            font-size: 16px;
        }

    }

    .rightLine {
        position: absolute;
        margin-top: 125px;
        right: 0px;
        width: 58px;
        border: 2px solid #9747FF;

        @media (max-width: 550px) {
              margin-top: 77px;
              width: 40px;
        }
        @media (max-width: 500px) {
              width: 30px;
        }
        @media (max-width: 450px) {
              width: 20px;
        }
        @media (max-width: 400px) {
              width: 10px;
              margin-top: 60px;
        }
    }
}

.contact-btn {
    margin-left: 150px;
    margin-top: 70px;
    width: 200px;
    height: 58px;
    border-radius: 10px;
    background-color: #70E61C;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 300ms ease-in-out;
    cursor: pointer;

    @media (max-width: 950px) {
        position: relative;
        top: 600px;
        left: -50%;
        margin-left: auto;
    }

    @media (max-width: 746px) {
        left: -25%;
    }

    @media (max-width: 724px) {
        top: 700px;
    }
    @media (max-width: 650px) {
        top: 660px;
   
    }
    @media (max-width: 500px) {
        top: 600px;
    }
    @media (max-width: 450px) {
        top: 550px;
        left: -20%;
    }
    @media (max-width: 355px) {
        top: 570px;
        left: -10%;
    }

    &:hover {
        transform: scale(1.2);
        background-color: rgba(151, 71, 255, 1);
    }

    a {
        font-size: 23px;
        font-weight: 400;
        text-decoration: none;
        color: white;
    }



    // @media (max-width: 940px) {
    //     top: 800px;
    //     right: 320px;
    // }

    // @media (max-width: 740px) {
    //     top: 800px;
    //     right: 220px;
    // }

    // @media (max-width: 660px) {
    //     right: 180px;
    // }

    // @media (max-width: 581px) {
    //     right: 140px;
    // }

    // @media (max-width: 450px) {
    //     width: 158px;
    //     height: 49px;
    //     left: 116px;
    //     top: 720px;
    // }
}