<div class="myskillsContainer">
    <div><img src="/assets/img/background/Green shadow 2.png"></div>
    <div class="skillIcons">
        <img src="/assets/img/icons/angular.png"> Angular
        <img src="/assets/img/icons/typescript.png"> Typescript
        <img src="/assets/img/icons/javaScript.png"> JavaScript
        <img src="/assets/img/icons/html.png"> HTML
        <img src="/assets/img/icons/scrum.png"> Scrum
        <img src="/assets/img/icons/firebase.png"> Firebase
        <img src="/assets/img/icons/git.png"> Git
        <img src="/assets/img/icons/css.png"> CSS
        <img src="/assets/img/icons/api.png"> API
        <img src="/assets/img/icons/materialDesign.png"> Material Design
    </div>
    <div class="textContainer">
        <h2>My skills</h2>
        <span>I have gained experience in building projects with various front end technologies and concepts.</span>
        <div class="rightLine"></div>
    </div>
    <div class="contact-btn"><a href="#contact">Get in touch</a></div>
</div>