<section class="mySkillsSection">
    <div class="myskillsContainer" id="skills">
        <div class="skillIconsContainer">
            <div class="skillIcons">
                <div data-aos="zoom-in-up" data-aos-offset="300"><img src="/assets/img/icons/angular.png">
                    <span>Angular</span>
                </div>
                <div data-aos="zoom-in-up" data-aos-offset="300"><img src="/assets/img/icons/typescript.png">
                    <span>TypeScript</span>
                </div>
                <div data-aos="zoom-in-up" data-aos-offset="300"><img src="/assets/img/icons/javaScript.png">
                    <span>JavaScript</span>
                </div>
                <div data-aos="zoom-in-up" data-aos-offset="300"><img src="/assets/img/icons/html.png">
                    <span>HTML</span>
                </div>
                <div data-aos="zoom-in-up" data-aos-offset="300"><img src="/assets/img/icons/scrum.png">
                    <span>Scrum</span>
                </div>
                <div data-aos="zoom-in-up" data-aos-offset="300"><img src="/assets/img/icons/firebase.png">
                    <span>Firebase</span>
                </div>
                <div data-aos="zoom-in-up" data-aos-offset="300"><img src="/assets/img/icons/git.png">
                    <span>GIT</span>
                </div>
                <div data-aos="zoom-in-up" data-aos-offset="300"><img src="/assets/img/icons/css.png">
                    <span> CSS</span>
                </div>
                <div data-aos="zoom-in-up" data-aos-offset="300"><img src="/assets/img/icons/api.png">
                    <span>Rest-Api</span>
                </div>
                <div data-aos="zoom-in-up" data-aos-offset="300"><img src="/assets/img/icons/materialDesign.png">
                    <span>Material Design</span>
                </div>
            </div>
        </div>
        <div class="textContainer">
            <h2>{{ 'SkillsHeadline' | translate }}</h2>
            <span>{{ 'skillsText' | translate }}</span>

            <div class="contact-btn"><a href="#contact">{{ 'touch' | translate }}</a></div>
            <div class="rightLine"></div>
        </div>

        <img class="backgroundImg" src="/assets/img/background/green-shadow.png">

    </div>
</section>