.mainContainer {
    display: flex;
    width: 100vw;
    height: 900px;
    position: relative;
    background-color: #141D2F;
    
}

.meImage {
    display: flex;
    position: absolute;
    left: 28px;
    top: 100px;

    img {
        width: 646px;
        height: 705px;
        object-fit: contain;
    }


    @media (max-width: 1150px) {
        top: 150px;
        left: -50px;

        img {
            height: 625px;
        }
    }

    @media (max-width: 1030px) {
        top: 120px;
        left: 0;
        right: 0;
        justify-content: center;
        
        img {
            height: 545px;
        }
    }

    @media (max-width: 700px) {
       img{
        height: 500px;
       }
    }

    @media(max-width:450px) {
        top: 159px;
       img{
        height: 420px;
       }
    }
}

.background-img {
    display: flex;
    position: absolute;
    top: 136px;
    left: -90px;
    overflow: hidden;

    @media (max-width: 1030px) {
        top: 130px;
        left: 0;
        right: 0;
        justify-content: center;
    }
}

.background-element {
    display: flex;
    position: absolute;
    top: 375px;
    width: 100vw;
    height: 1000px;
    overflow: hidden;

    img {
        width: 100%;
    }

    @media (max-width: 1350px) {
        img {
            width: auto;
        }
    }

    @media(max-width: 1030px) {
        top: 266px;
    }

    @media(max-width: 700px) {
        top: 180px;
    }
}

.headlineContainer{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 260px;
    right: 160px;
    align-items: center;
    text-align: center;

    @media (max-width: 1030px) {
        top: 690px;
        justify-content: center;
        align-items: center;
        right: 0px;
        width: 100%;
    }

    @media (max-width: 800px) {
       padding-left: 100px;
        right: 0;
        width: 100%;
    }
    // @media (max-width: 700px) {
    //     right: 180px;
    //     top: 605px;
    // }

    // @media (max-width: 525px) {
    //     right: 100px;
    // }

    // @media (max-width: 450px) {
    //     right: 0px;
    //     left: 0;
    // }
}

.nameContainer {
    display: flex;
    gap: 15px;  

    .verticalSpan {
        color: white;
        rotate: 270deg;
        font-size: 72px;
        white-space: nowrap;
        position: relative;
        left: 85px;

        @media (max-width: 1450px) {
            font-size: 54px;
        }

        @media(max-width: 1300px) {
            font-size: 46px;
            left: 60px;
        }

        @media(max-width: 700px) {
            font-size: 34px;
        }

        @media (max-width: 450px) {
            font-size: 26px;
            left: 55px;
            top: -7px;
        }
    }

    .name {
        position: relative;
        white-space: nowrap;
        font-size: 80px;
        font-weight: 700;
        color: white;
    }

    .job {
        position: relative;
        justify-content: flex-start;
        display: flex;
        font-size: 68px;
        color: #9747FF;
        font-weight: 400;
        top: -5px;
    }

    @media (max-width: 1450px) {
        .name {
            font-size: 66px;
        }

        .job {
            font-size: 44px;
        }
    }

    @media (max-width: 1300px) {
        .name {
            font-size: 50px;
        }

        .job {
            font-size: 40px;
        }
    }

    @media (max-width: 700px) {
        .name {
            font-size: 40px;
        }

        .job { 
            font-size: 34px;
            height: 50px;
        }
    }

    @media (max-width: 450px) {
        .name {
            font-size: 32px;
        }

        .job {
            font-size: 25px;
        }
    }
}

.letsTalkBtn {
    display: flex;
    min-width: 165px;
    min-height: 58px;
    border-radius: 10px;
    background: #70E61C;
    transition: transform 300ms ease-in-out;
    cursor: pointer;

    &:hover {
        transform: scale(1.2);
        background-color: rgba(151, 71, 255, 1);
    }

    a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        font-size: 23px;
        font-weight: 400;
        color: white;
        text-decoration: none;
    }

    @media (max-width: 1030px) {
        display: flex;
        justify-content: center;
        
    }
}

.contactStartscreen {
    display: flex;
    position: absolute;
    top: 850px;
    z-index: 1;
    align-items: center;
    width: 100%;
    gap: 45px;
    bottom: 150px;

    .contactLinks {
        display: flex;
        gap: 42px;
    }

    a {
        text-decoration: none;
        color: white;
        font-size: 24px;
    }

    .contactLink {
        display: flex;

        &:hover {
            scale: 1.2;
        }
    }

    @media (max-width: 1030px) {
        top: 950px;
    }

    @media (max-width: 700px) {
        top: 900px;
        width: 100vw;
        left: -140px;
        display: flex;
        justify-content: center;
    }
    @media (max-width: 450px) {
        display: flex;
        justify-content: center;
        left: -90px;
    }
}

.contactLine {
    border: 2px solid rgb(151, 71, 255);
    width: 80px;

    @media (max-width: 700px) {
        width: 205px;
    }
    @media (max-width: 450px) {
        width: 130px;
    }
}

.emailAdress {
    @media (max-width: 750px) {
        display: none;
    }
}

.scrollDown {
    display: flex;
    position: absolute;
    right: 30px;
    color: white;
    rotate: 90deg;
    font-size: 24px;
    align-items: center;
    line-height: 27px;
    animation: moveUpDown 2s linear infinite;

    img {
        rotate: 270deg;
    }

    @media (max-width: 1030px) {
        display: none;
    }
}

@keyframes moveUpDown {

    0%,
    100% {
        top: 780px;
    }

    50% {
        top: 750px;
    }
}