<div class="mainContainer">
    <div class="imageContainer">
        <img class="background-img" src="/assets/img/background/double-shadows.png" alt="image">
        <img class="mainImage" src="/assets/img/picture/me1.png" alt="image">    
    </div>
    <div  class="letsTalkBtn"><a href="#contact">Let's talk!</a></div>
    <img class="background-element" src="/assets/img/background/Vector.png" alt="image">  
    <div class="headlineContainer">
        <div class="verticalSpan">
            <span>I am</span>
        </div>
        <div class="horizontalSpan">
            <span class="nameSpan">Daniel Schirmer</span>
            <span class="webSpan">Frontend Developer</span>
        </div>
    </div>
    <div class="contactStartscreen">
        <div class="contactLine"></div>
        <div class="contactLinks">
            <a class="contactLink" href="https://github.com/Daniel-Schi"><img src="/assets/img/icons/Github button.png" alt=""></a>
            <a class="contactLink" href="kontakt@daniel-schirmer.de"><img src="/assets/img/icons/Email button.png" alt=""></a>
            <a class="contactLink" href="https://www.linkedin.com/feed/"><img src="/assets/img/icons/Linkedin button.png" alt=""></a>
        </div>
        <div class="emailAdress">
            <a href="kontakt@daniel-schirmer.de">kontakt@daniel-schirmer.de</a>
        </div>
    </div>
    <div class="scrollDown">Scroll down<img src="/assets/img/icons/arrowDown.png"></div>
</div>
