<div class="mainContainer">
    <div class="background-img"><img src="/assets/img/background/double-shadows.png" alt="image"></div>
    <div class="meImage"><img src="/assets/img/picture/me1.png" alt="image"></div>
    <div class="background-element"><img src="/assets/img/background/Vector.png" alt="image"></div>
    <div class="headlineContainer">
        <div class="nameContainer">
            <div class="verticalSpan">
                <span>I am</span>
            </div>
            <div class="horizontalSpan">
                <div class="name">Daniel Schirmer</div>
                <div class="job">Frontend Developer</div>
            </div>
        </div>
        <div class="letsTalkBtn"><a href="#contact">{{'talk' | translate }}</a></div>
    </div>
    <div class="contactStartscreen">
        <div class="contactLine"></div>
        <div class="contactLinks">
            <a class="contactLink" href="https://github.com/Daniel-Schi">
                <img src="/assets/img/icons/Github button.png"></a>
            <a class="contactLink" href="kontakt@daniel-schirmer.de">
                <img src="/assets/img/icons/Email button.png"></a>
            <a class="contactLink" href="https://www.linkedin.com/feed/">
                <img src="/assets/img/icons/Linkedin button.png"></a>
        </div>
        <div class="emailAdress">
            <a href="kontakt@daniel-schirmer.de">kontakt@daniel-schirmer.de</a>
        </div>
    </div>
    <div class="scrollDown">Scroll down<img src="/assets/img/icons/arrowDown.png"></div>
</div>