<div class="mainContainer">
    <div class="imageContainer">
        <img class="background-img" src="/assets/img/background/double-shadows.png" alt="image">
        <img class="mainImage" src="/assets/img/picture/me.png" alt="image">    
    </div>
    <div  class="letsTalkBtn"><a translate href="#contact">Let's talk!</a></div>
    <img class="background-element" src="/assets/img/background/Vector.png" alt="image">  
    <div class="headlineContainer">
        <div class="verticalSpan">
            <span>I am</span>
        </div>
        <div class="horizontalSpan">
            <span class="nameSpan">Daniel Schirmer</span>
            <span class="webSpan">Frontend Developer</span>
        </div>
        
    </div>
</div>
